@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');


/* .navigation-bar {
    display: none !important;
} */

.signup-container {
    height: 100vh !important;
    width: 100vw !important;
    padding-top : 20px;
    font-family: 'Merienda';
    background-image: url('../burger_images/background.png');
    background-size: cover;
}

.form-row {
    display: flex;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px 10px 10px 10px;
    background: rgba(31, 6, 6, 0.838);
    color: white;
    box-shadow: 0px 0px 5px 3px rgb(44, 4, 4);
}

.button-row {
    margin-top: 20px;
}

.signup-button {
    width: 100%;
}

.input-rows {
    margin-top: 20px;
}